# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../output_data/cities.csv")
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Iqaluit,63.75,-68.51,32.00,94,75,6.24,CA,1603314011
1,Saskylakh,71.92,114.08,8.26,94,91,5.23,RU,1603314049
2,Butaritari,3.07,172.79,82.15,73,12,10.25,KI,1603313908
3,Cape Town,-33.93,18.42,57.99,82,0,13.87,ZA,1603313943
4,Ushuaia,-54.80,-68.30,53.60,50,40,6.93,AR,1603313882
...,...,...,...,...,...,...,...,...,...
568,Urengoy,65.97,78.37,19.26,98,76,7.85,RU,1603314178
569,Eyrarbakki,63.86,-21.15,39.20,82,75,14.99,IS,1603314242
570,Lavaca,28.61,-96.63,87.80,55,1,14.99,US,1603314003
571,Pacific Grove,36.62,-121.92,81.00,63,1,4.70,US,1603313986
572,Nārāyanganj,23.62,90.50,80.60,83,75,4.70,BD,1603314242

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
41,Sakakah,29.97,40.21,75.20,13,0,9.17,SA,1603314106
67,Masaurhi,25.35,85.03,75.20,83,0,2.98,IN,1603314115
115,Suez,29.97,32.53,73.31,73,0,5.75,EG,1603314128
181,Guadalupe y Calvo,26.10,-106.97,72.48,31,0,8.77,MX,1603314143
187,Wattegama,6.80,81.48,75.85,78,0,5.32,LK,1603314145
195,Makkah al Mukarramah,21.43,39.83,77.02,28,0,4.27,SA,1603314147
254,Khalīlābād,26.77,83.07,74.61,64,0,4.47,IN,1603314160
273,Dalkola,25.85,87.85,75.29,78,0,4.54,IN,1603314167
343,Hīt,33.64,42.83,76.08,24,0,6.78,IQ,1603314186
361,Tanete,-3.94,119.78,73.56,81,0,3.51,ID,1603314190
366,Najrān,17.49,44.13,71.60,31,0,2.13,SA,1603314191
390,Marsá Maţrūḩ,31.35,27.25,71.60,60,0,8.12,EG,1603314196
431,Kiryat Gat,31.61,34.76,75.00,70,0,8.21,IL,1603314206
467,Oodweyne,9.41,45.06,75.88,31,0,5.23,SO,1603314216
468,Noumea,-22.28,166.46,78.01,73,0,2.24,NC,1603314026
477,Maragogi,-9.01,-35.22,77.23,84,0,8.55,BR,1603314010
478,Morondava,-20.28,44.28,75.85,75,0,2.17,MG,1603314218
540,Vicuña,-30.03,-70.71,75.99,27,0,4.00,CL,1603314234
542,Aswān,24.09,32.91,76.28,29,0,2.21,EG,1603314235
548,Bontang,0.13,117.50,77.20,86,0,5.75,ID,1603314237

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                     City Country    Lat     Lng Hotel Name
41                Sakakah      SA  29.97   40.21
67               Masaurhi      IN  25.35   85.03
115                  Suez      EG  29.97   32.53
181     Guadalupe y Calvo      MX  26.10 -106.97
187             Wattegama      LK   6.80   81.48
195  Makkah al Mukarramah      SA  21.43   39.83
254            Khalīlābād      IN  26.77   83.07
273               Dalkola      IN  25.85   87.85
343                   Hīt      IQ  33.64   42.83
361                Tanete      ID  -3.94  119.78
366                Najrān      SA  17.49   44.13
390          Marsá Maţrūḩ      EG  31.35   27.25
431            Kiryat Gat      IL  31.61   34.76
467              Oodweyne      SO   9.41   45.06
468                Noumea      NC -22.28  166.46
477              Maragogi      BR  -9.01  -35.22
478             Morondava      MG -20.28   44.28
540                Vicuña      CL -30.03  -70.71
542                 Aswān      EG  24.09   32.91
548               Bontang      ID   0.13  117.50

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 41: Sakakah.
Closest hotel in Sakakah is Alnuzl Special Hotel.
------------
Retrieving Results for Index 67: Masaurhi.
Closest hotel in Masaurhi is Hotel Avadh Nandan Family Restaurant.
------------
Retrieving Results for Index 115: Suez.
Closest hotel in Suez is نادى البحارة الدولى بالسويس - International Seamen's Club Suez.
------------
Retrieving Results for Index 181: Guadalupe y Calvo.
Closest hotel in Guadalupe y Calvo is Isabel Hotel & Suites, Guadalupe y Calvo.
------------
Retrieving Results for Index 187: Wattegama.
Missing field/result... skipping.
------------
Retrieving Results for Index 195: Makkah al Mukarramah.
Closest hotel in Makkah al Mukarramah is Pullman Zamzam Makkah.
------------
Retrieving Results for Index 254: Khalīlābād.
Closest hotel in Khalīlābād is SPOT ON 65494 Sapna Guest House.
------------
Retrieving Results for Index 273: Dalkola.
Closest hotel in Dalkola is Hotel Oasis Palace.
------------
Retrieving Results for Index 343: Hīt.
Missing field/result... skipping.
------------
Retrieving Results for Index 361: Tanete.
Closest hotel in Tanete is Hotel Tri Multi.
------------
Retrieving Results for Index 366: Najrān.
Missing field/result... skipping.
------------
Retrieving Results for Index 390: Marsá Maţrūḩ.
Closest hotel in Marsá Maţrūḩ is Jewel Matrouh Hotel.
------------
Retrieving Results for Index 431: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 467: Oodweyne.
Closest hotel in Oodweyne is Al shukri hotel.
------------
Retrieving Results for Index 468: Noumea.
Closest hotel in Noumea is Nouvata.
------------
Retrieving Results for Index 477: Maragogi.
Closest hotel in Maragogi is Salinas do Maragogi All Inclusive Resort.
------------
Retrieving Results for Index 478: Morondava.
Closest hotel in Morondava is Kimony Resort Hotel.
------------
Retrieving Results for Index 540: Vicuña.
Closest hotel in Vicuña is Hotel Halley.
------------
Retrieving Results for Index 542: Aswān.
Closest hotel in Aswān is Sofitel Legend Old Cataract Aswan.
------------
Retrieving Results for Index 548: Bontang.
Closest hotel in Bontang is Bintang Hotel Sintuk.
------------
-------End of Search-------

In [11]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
41,Sakakah,SA,29.97,40.21,Alnuzl Special Hotel
67,Masaurhi,IN,25.35,85.03,Hotel Avadh Nandan Family Restaurant
115,Suez,EG,29.97,32.53,نادى البحارة الدولى بالسويس - International Se...
181,Guadalupe y Calvo,MX,26.10,-106.97,"Isabel Hotel & Suites, Guadalupe y Calvo"
187,Wattegama,LK,6.80,81.48,
195,Makkah al Mukarramah,SA,21.43,39.83,Pullman Zamzam Makkah
254,Khalīlābād,IN,26.77,83.07,SPOT ON 65494 Sapna Guest House
273,Dalkola,IN,25.85,87.85,Hotel Oasis Palace
343,Hīt,IQ,33.64,42.83,
361,Tanete,ID,-3.94,119.78,Hotel Tri Multi
366,Najrān,SA,17.49,44.13,
390,Marsá Maţrūḩ,EG,31.35,27.25,Jewel Matrouh Hotel
431,Kiryat Gat,IL,31.61,34.76,Desert Gat
467,Oodweyne,SO,9.41,45.06,Al shukri hotel
468,Noumea,NC,-22.28,166.46,Nouvata
477,Maragogi,BR,-9.01,-35.22,Salinas do Maragogi All Inclusive Resort
478,Morondava,MG,-20.28,44.28,Kimony Resort Hotel
540,Vicuña,CL,-30.03,-70.71,Hotel Halley
542,Aswān,EG,24.09,32.91,Sofitel Legend Old Cataract Aswan
548,Bontang,ID,0.13,117.50,Bintang Hotel Sintuk

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))